// Specific CSS for your home-page
#page-title {
  font-weight: bold;
}
#services {
  img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }

  h3 {
    font-weight: bold;
  }
}


#sponsors {
  img {
    padding: 10px;
    width: 200px;
    height: 180px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

#carousel {
  .carousel {
    img {
      width: 100%;
      height: 700px;
      object-fit: cover;
    }
  }
}

@media (max-width: 991.98px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  #sponsors {
  img {
    padding: 5px;
    width: 170px;
    height: 140px;
    object-fit: cover;
    margin-right: 10px;
  }
}
}


@media(max-width: 575px) {

  #page-title {
    font-weight: bold;
    font-size: 24px;
  }

  .post-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  #services {
    img {
      width: 100%;
      object-fit: cover;
      height: 30vh;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  #company {
    p {
      font-size: 14px;
    }
  }
}
