<div class="card">
  <%= link_to post_path(post) do %>
  <%= cl_image_tag post.photo.key %>
  <div class="card-body">
    <h5 class="card-title text-body font-weight-bold"><%= post.title %></h5>
    <p class="card-text text-body"><%= post.subtitle %></p>
  </div>
  <% end %>
</div>
