<div class="bg-success">
  <h2 class="text-center pt-5 pt-md-6 pb-5" id="page-title">Quienes Somos</h2>
  <div class="px-4 px-lg-8 pb-6 container">
    <p><strong>GARBO</strong> es una empresa dedicada al cuidado y manejo integral de espacios verdes.
      Ofrecemos un servicio de excelencia a nuestros clientes, creando equipos de profesionales altamente capacitados, desarrollándolos con la mas alta tecnología disponible en el mercado.<br>Desarrollamos un modelo de gestión orientado a la excelencia, que funciona con una estructura organizada en departamentos especializados, dirigidos por un plantel de profesionales altamente capacitados y comprometidos con el medio ambiente y la responsabilidad social. Asumimos el constante desafío de lograr que nuestras prácticas respondan a altos estándares de calidad y cuidado del medio ambiente.
    </p>
  </div>
</div>
