<h2 class="py-5 py-md-6 text-center" id="page-title">Nuestros servicios</h2>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_fit,h_800,w_1200/v1724175367/119b46e7-5b57-4644-8a9b-b19bb1ebc9c2.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Espacios Verdes</h3>
        <p>Diseño, construcción, mantenimiento, corte de césped, desmalezado, desmonte, forestación, recolección y retiro de residuos verdes.</p>
      </div>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_600/v1703162910/podas.jpg" alt="" style="object-position: 50% 70%;">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Podas</h3>
        <p>Extracción de árboles de todos los tamaños, podas de altura, cercos perimetrales, talados, traslado de grandes ejemplares, recolección y retiro de restos de poda.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1724176564/c79f6d9e-d485-4f98-9200-51aaf2965725.jpg" alt="" style="object-position: 56% 48%;">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Limpieza</h3>
        <p>Limpieza de oficinas y edificios, barrido de calles y veredas, personal de maestranza, limpieza en altura.</p>
      </div>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_scale,w_800/v1625759552/Captura_de_Pantalla_2021-07-08_a_la_s_12.52.13_thugke.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Movimiento de suelo</h3>
        <p>Servicio y alquiler de maquinaria como minicargador, pala cargadora frontal, pala retroexcavadora, motoniveladora y camión con volcadora.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_549/v1623703065/garbo-fumigacion_gzzyjt.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Fumigación/Control de plagas</h3>
        <p>Control de roedores, fumigación contra mosquitos, desinfección, control fitosanitario.</p>
      </div>
    </div>
  </div>

</div>
