<h2 class="py-5 py-md-6 text-center" id="page-title">Nuestros servicios</h2>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://images.unsplash.com/photo-1558904541-efa843a96f01?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2978&q=80" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Espacios Verdes</h3>
        <p>Diseño, construcción, mantenimiento, riego, control fitosanitario, desmalezado, forestación.</p>
      </div>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_668/v1605133022/man-using-chainsaw-to-cut-tree_pje7ak.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Podas</h3>
        <p>Cercos perimetrales, podas de altura, talados, traslado de grandes ejemplares.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://images.unsplash.com/photo-1421940943431-d392fcc1079f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Limpieza</h3>
        <p>Limpieza de oficinas y edificios, barrido de calles y veredas, personal de maestranza, limpieza en altura.</p>
      </div>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_1006/v1606740437/NIBERMA-Pinturas-y-resinas-para-suelos_uqme1w.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="py-4 py-md-0 text-center text-md-left">
        <h3>Pinturas y pisos industriales</h3>
        <p> Estructuras metálicas y de hormigón, tanques de almacenamiento, demarcación vial, piso con mortero de resina epoxi y poliuretano, piso con productos antiácidos y autonivelantes.</p>
      </div>
    </div>
  </div>
</div>
