<% if user_signed_in? %>
<div class="p-5">
  <%= link_to 'Crear noticias', new_post_path, class: "btn btn-primary btn-block"  %>
</div>
<% end %>
<h2 class="py-5 text-center" id="page-title">Noticias</h2>
<div class="container post-container">
  <% @posts.each do |post| %>
  <%= render 'shared/cards', post: post %>
  <% end %>
</div>
<div class="pt-5 d-flex justify-content-center align-items-center">
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

