#footer {
  margin-top: 80px;
  i {
    color: rgba(250, 250, 250, 0.9);
    margin-bottom: 0px;
  }

  p {
    color: white;
    font-size: 13px;
    margin-bottom: 0px;
  }

  a {
    color: white;
  }
}
