.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 4px solid $green;

  ul {
    font-size: 15px;
  }


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  height: 54px;
  object-fit: cover;
}
